[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi-ustc"

[packages]
python-dotenv = "*"
aiocqhttp = "*"
aiodns = "*"
cchardet = "*"
websockets = "*"
apscheduler = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
